*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-radius:10px;
}
  
body{
    background-color: white !important;
}

.lihat{
    width: 10%;
}

.option a{
    text-decoration: none;
}

.jsjhr .skfjh{
    position: relative;
    top: 2rem;
}
  
.jsjhr .skfjh .sfjhe{
    background-color: #fff;
    padding: 12px;
    -webkit-box-shadow: 0px 0px 6px #ccc;
            box-shadow: 0px 0px 6px #ccc;
    height: 100%;
}
  
.jsjhr .skfjh .sfjhe .sjfsj img{
    width: 140px;
    margin-top: 9px;
    border-radius: 50%;
    margin-left: 8px;
}
  
.jsjhr .skfjh .sfjhe h5{
    font-size: 16px;
}
  
.jsjhr .skfjh .jfheuf {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 6px #ccc;
            box-shadow: 0px 0px 6px #ccc;
    padding: 34px;
}
  
.jsjhr .skfjh .jfheuf textarea{
    border: navajowhite;
    border-bottom: 1px solid #efefef;
    outline: navajowhite;
}
  
.jsjhr .skfjh .box1 {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 6px #ccc;
            box-shadow: 0px 0px 6px #ccc;
    padding: 20px;
    margin-top: 20px;
}
  
.jsjhr .skfjh .box1 .skfjkk .lkt40 img{
    width: 33px;
    border-radius: 50%;
    height: 33px;
}
  
.jsjhr .skfjh .left_box{
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 6px #ccc;
            box-shadow: 0px 0px 6px #ccc;
    padding: 34px;
}
  
.jsjhr .skfjh .left_box .dfkj .lkt40 img {
    width: 30px;
    border-radius: 50%;
    height: 30px;
    margin-right: 10px;
}
/* button */
#posting{
    width: 100px;
    height: 33px;
    color: white;
    background-color: #3075C6;
    border: 2px solid #3075C6;
    box-sizing: border-box;
    border-radius: 15px;
}
#posting:hover{
    background-color: #03428b;
    border: 2px solid #03428b;
}
.kategori button{
    width: 110px;
    height: 45px;
    margin: 3px;
    font-size: 15px;
    background-color: white;
    border: 2px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 15px;
}
.kategori button:hover{
    border: 2px solid #3751FE;
}
.up-pict{
    border-radius: 0;
}